fastapi
httpx
lm-format-enforcer
pytest
transformers[torch]
uvicorn
colorama
python-multipart
sqlmodel
pydantic-settings
faster-whisper
requests
python-dotenv
pandas
numpy
plotly
scikit-learn
catboost
streamlit