fastapi
httpx
pytest
uvicorn[standard]
colorama
python-multipart
sqlmodel
pydantic-settings
requests
python-dotenv

pandas
numpy
plotly
scikit-learn
catboost

streamlit
faster-whisper

transformers==4.51.3
tokenizers==0.21.1
lm-format-enforcer==0.11.3
huggingface-hub>=0.30.0,<1.0
torch
accelerate
safetensors

setuptools<82